<div class="container">
    <div class="profile-container">
        <div class="profile-card">
            <ng-container *ngIf="!showEditMode">
                <div class="profile-header">
                    <img class="profile-image" src={{profileDetails.image}} alt="Profile Picture" />
                </div>
                <div class="profile-details">
                    <h2 class="profile-name">{{profileDetails.nickName}}</h2>
                    <p class="profile-height">{{profileDetails.height}}</p>
                    <div class="profile-contact">
                        <p><strong>Email:</strong>{{profileDetails.email}}</p>
                    </div>
                </div>
                <button class="edit-button" (click)="onToggle()">Edit</button>
            </ng-container>

            <ng-container *ngIf="showEditMode">
                <form [formGroup]="form">
                    <div class="edit-form">
                        <p>Image</p>
                        <input type="text" name="image" id="image" [value]="profileDetails.image"
                            formControlName="image">
                        <p>NickName: </p>
                        <input type="text" name="nickName" id="nickName" [value]="profileDetails.nickName"
                            formControlName="nickName">
                        <ng-container *ngIf="form.get('nickName')?.touched">
                            <p class="error" *ngIf="form.get('nickName')?.errors?.['required']">
                                NickName is required!
                            </p>
                            <p class="error" *ngIf="form.get('nickName')?.errors?.['minlength']">
                                NickName must be at least 5 characters!
                            </p>
                        </ng-container>
                        <p>Height: </p>
                        <input type="number" name="height" id="height" [value]="profileDetails.height"
                            formControlName="height">
                        <ng-container *ngIf="form.get('height')?.touched">
                            <p class="error" *ngIf="form.get('height')?.errors?.['required']">
                                Height is required!
                            </p>
                        </ng-container>
                        <p>Email: </p>
                        <input type="email" name="email" id="email" [value]="profileDetails.email"
                            formControlName="email">
                        <ng-container *ngIf="form.get('email')?.touched">
                            <p class="error" *ngIf="form.get('email')?.errors?.['required']">
                                Email is required!
                            </p>
                            <p class="error" *ngIf="form.get('email')?.errors?.['emailValidator']">
                                Email is not valid!
                            </p>
                        </ng-container>
                    </div>
                    <button class="green-button" (click)="saveProfileHandler()" [disabled]="form.invalid"
                        [style]="{backgroundColor: form.invalid ? 'grey' : 'green'}">Save</button>
                    <button class="red-button" (click)="onCancel($event)">Cancel</button>
                </form>
            </ng-container>
        </div>
    </div>
</div>