<header class="top-header">
    <nav class="navbar header-nav navbar-expand-lg">
        <div class="container">
            <div>
                <img src="../../../assets/images/logo.png" alt="logo">
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                <ul class="navbar-nav">
                    <li><a class="nav-link active" routerLink="/home">HO-HO-HOme</a></li>
                    <li><a class="nav-link" routerLink="/warehouse">Warehouse</a></li>
                    <li *ngIf="isLoggedIn"><a class="nav-link" routerLink="/create-present">Create Present</a></li>
                    <li *ngIf="isLoggedIn"><a class="nav-link" routerLink="/auth/profile">My Profile</a>
                    </li>
                    <li *ngIf="isLoggedIn" (click)="logout()"><a class="nav-link" routerLink="/logout">Logout</a></li>
                    <li *ngIf="!isLoggedIn"><a class="nav-link" routerLink="/auth/login">Login</a></li>
                    <li *ngIf="!isLoggedIn"><a class="nav-link" routerLink="/auth/register">Register</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>