<div class="reserve-container">
    <h2 class="reserve-title">Reservations</h2>
    
    <div class="reservation-list">
      <div class="reservation-item">
        <p class="reserved-by">Reserved by: Peter</p>
        <p class="additional-comment"><span>Additional comment: Please inform me when the product is ready for expedition</span></p>
      </div>
  
      <div class="reservation-item">
        <p class="reserved-by">Reserved by: Boris</p>
        <p class="additional-comment"><span>Additional comment: I want the item for 20th of December</span></p>
      </div>
    </div>
  
    <div class="reserve-action">
      <a routerLink="/warehouse" class="reserve-link">Reserve your ITEM NAME</a>
    </div>
  </div>
  