* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/images/presents.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
  }
    
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
  }
  
  .create-item-form {
    width: 100%;
  }  
 
  .form-group {
    margin-bottom: 20px;
    width: 100%;
  }  
 
  label {
    display: block;
    color: #555;
    margin-bottom: 8px;
    font-size: 1.1rem;
  }
  
  input[type="text"],
  input[type="number"],
  textarea,
  select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease; 
  }
  
  input[type="text"]:focus,
  input[type="number"]:focus,
  textarea:focus,
  select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  textarea {
    resize: vertical;
    min-height: 120px; 
  }
  
  button.submit-btn {
    width: 100%;
    padding: 12px;
    background-color: rgb(111, 77, 77);;
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button.submit-btn:hover {
    background-color: #0056b3;
  }
  
  button.submit-btn:active {
    background-color: rgb(111, 77, 77);
  }
  
  h2{
    font-weight: bold;
  }

  p.error {
    text-align: left;
    border-radius: 0.3em;
    color: red;
    padding-top: 0;
  }

  @media (max-width: 768px) {
    .form-container {
      padding: 20px;
    }
  
    .form-group {
      margin-bottom: 15px;
    }
  
    button.submit-btn {
      font-size: 1rem; 
    }
  }