<div class="container">
    <div class="intro">
        <h3>Welcome to Santa's Warehouse </h3>
    </div>
    
    <div class="presents-list">
        <div class="present-item">
            <div class="present-image">
                <img src="https://www.decor-by-glassor.com/wareImages/23/2/023292_or-.jpg" alt="Present Image" />
            </div>
            <div class="present-info">
                <h3>Item: Christmas ball</h3>                
                <div class="present-details">
                    <p>Category: Decoration</p>
                </div>
                <h4>Details</h4>
            </div>
        </div>
        <div class="present-item">
            <div class="present-image">
                <img src="https://images-na.ssl-images-amazon.com/images/I/71eZ2%2BHTr4L.jpg" alt="Present Image" />
            </div>
            <div class="present-info">
                <h3>Item: Train</h3>
                <div class="present-details">
                    <p>Category: Toys</p>
                </div>
                <h4>Details</h4>
            </div>
        </div>
        <div class="present-item">
            <div class="present-image">
                <img src="https://www.bybenson.com/cdn/shop/products/christmas-sweater-102993_1000x1000.jpg?v=1708297893" alt="Present Image" />
            </div>
            <div class="present-info">
                <h3>Item: Christmas sweater</h3>
                <div class="present-details">
                    <p>Category: Clothing</p>
                </div>
                <h4>Details</h4>
            </div>
        </div>
    </div>
    
<!--  -->

    <!-- <div class="no-presents">
        <h3>Warehouse is empty! </h3>
        <h3>Well Done! All the presents are on their way for Christmas!</h3>
        <img src="../../../assets/images/SantaOnSlide.jpg" alt="MagicChristmas" />
    </div> -->
</div>