<div class="container">
    <div class="intro">
        <h3>Welcome to Santa's Warehouse </h3>
    </div>
    
    <div class="tree-list">
        <div class="tree-item">
            <div class="tree-image">
                <img src="tree-image.jpg" alt="Tree Image" />
            </div>
            <div class="tree-info">
                <h3>Tree Name</h3>
                <h4>More Info</h4>
                <div class="tree-details">
                    <p>Details about the tree go here.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="no-trees">
        <h3>Warehouse is empty! </h3>
        <h3>Well Done! All the presents are on their way for Christmas!</h3>
        <img src="../../../assets/images/SantaOnSlide.jpg" alt="MagicChristmas" />
    </div>
</div>